<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="Jorge Galat">
<meta http-equiv="content-language" content="es" />

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#5cae40">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#5cae40">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#5cae40">

<!-- Opengraph -->
<meta property="og:locale" content="es_AR" />
<meta property="og:title" content="{{ site.title }}{% if page.title != null %} | {{ page.title }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}{% if page.title != null %} | {{ page.title }}{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/og-preview.jpg" />
<meta property="og:image:secure_url" content="{{ site.url }}{{ site.baseurl }}/images/og-preview.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Liberi" />

<title>{{ site.title }}{% if page.title != null %} | {{ page.title }}{% endif %}</title>
<link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/favicon.png">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/pure-min.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/grids-responsive-min.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/fontawesome-all.min.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/animate.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css" media="screen">

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-3.1.0.min.js" charset="utf-8"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.viewportchecker.min.js" charset="utf-8"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.extend.js" charset="utf-8"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/init.js" charset="utf-8"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/menu.js"></script>
