<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="Liberi orinal femenino">
<meta name="author" content="Jorge Galat">
<meta http-equiv="content-language" content="es" />
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#5cae40">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#5cae40">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#5cae40">
<title>{{ site.title }}{% if page.title != null %} | {{ page.title }}{% endif %}</title>
<link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/favicon.png">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/pure-min.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/grids-responsive-min.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/fontawesome-all.min.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/animate.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css" media="screen">

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-3.1.0.min.js" charset="utf-8"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.viewportchecker.min.js" charset="utf-8"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/menu.js"></script>
